/**/**/build/
/**/Ejemplos/
/Capitulo8ComoProgramarEnJava10aEdicion/Cap08 - 15 Ejercicio 8.18 Clase Cuenta con saldo tipo BigDecimal/nbproject/private/
/Capitulo10/Cap10 - 01 Ejercicio 10.12 Modificacion al sistema de nomina/nbproject/private/
/Capitulo10/Cap10 - 02 Ejercicio 10.13 Jerarquia de figuras/nbproject/private/
/Capitulo10/Cap10 - 03 Ejercicio 10.14 Modificacion al sistema de nomina/nbproject/private/
/Capitulo10/Cap10 - 0 Ejercicio 10.15 Modificacion al sistema de cuentas por pagar/nbproject/private/
/Capitulo10/Cap10 - 04 Ejercicio 10.15 Modificacion al sistema de cuentas por pagar/nbproject/private/
/Capitulo10/Cap10 - 05 Ejercicio 10.16 Modificacion al sistema de cuentas por pagar/nbproject/private/
/Capitulo10/Cap14 - 05 Ejercicio 14.07 Latin cerdo/nbproject/private/
/Cap14 - 05 Ejercicio 14.07 Latin cerdo/nbproject/private/
/Capitulo14/Cap14 - 06 Ejercicio 14.08 Descomponer numeros telefonicos en tokens/nbproject/private/
/Capitulo14/Cap14 - 07 Ejercicio 14.09 Mostrar un enunciado con sus palabras invertidas/nbproject/private/
/Capitulo14/Cap14 - 08 Ejercicio 14.10 Mostrar objetos String en mayusculas y minusculas/nbproject/private/
/Capitulo14/Cap14 - 09 Ejercicio 14.11 Busqueda en objetos String/nbproject/private/
/Capitulo14/Cap14 - 10 Ejercicio 14.12 Busqueda en objetos String/nbproject/private/
/Capitulo14/Cap14 - 11 Ejercicio 14.13 Dividir objetos String en tokens y compararlos/nbproject/private/
/Capitulo14/Cap14 - 12 Ejercicio 14.14 Dividir objetos String en tokens y compararlos/nbproject/private/
/Capitulo14/Cap14 - 13 Ejercicio 14.15 Convertir valores int a caracteres/nbproject/private/
/Capitulo14/Cap14 - 14 Ejercicio 14.16 Defina sus propios metodos de String/nbproject/private/
/Capitulo14/Cap14 - 15 Ejercicio 14.17 Crear objetos String de 3 letras a partir de una palabra de cinco letras/nbproject/private/
/Capitulo14/Cap14 - 16 Ejercicio 14.18 Analisis de textos/nbproject/private/
/Capitulo14/Cap14 - 17 Ejercicio 14.19 Impresion de fechas en varios formatos/nbproject/private/
/Capitulo14/Cap14 - 18 Ejercicio 14.20 Proteccion de cheques/nbproject/private/
/Capitulo14/Cap14 - 19 Ejercicio 14.22 Proteccion de cheques/nbproject/private/
/Capitulo14/Cap14 - 18 Ejercicio 14.20  y 14.21 Proteccion de cheques/nbproject/private/
/Capitulo14/Cap14 - 20 Ejercicio 14.23 Conversiones al sistema metrico/nbproject/private/
/Capitulo15/Cap15 - 01 Ejercicio 14.04 Asociacion de archivos/nbproject/private/
/Cap15 - 02 Ejercicio 14.05 Asociacion de archivos/nbproject/private/
/Capitulo15/Cap15 - 01 Ejercicio 15.04 Asociacion de archivos/nbproject/private/
/Capitulo15/Cap15 - 02 Ejercicio 15.05 Asociacion de archivos/nbproject/private/
/Capitulo15/Ejercicio01-15.04-Asociacion de archivos/nbproject/private/
/Capitulo15/Ejercicio01-15.04-15.05-Asociacion de archivos/nbproject/private/
/Capitulo15/Ejercicio01-15.04-Asociacion de archivos serializados/nbproject/private/
/Capitulo15/Ejercicio01-15.04-Asociacion de archivos serializados/dist/
/Capitulo15/Ejercicio02-15.04-Asociacion de archivos serializados/nbproject/private/
/Capitulo15/Ejercicio02-15.06-Asociacion de archivos serializados/nbproject/private/
/Capitulo15/Ejercicio03-15.07-Generador de palabras de numeros telefonicos/nbproject/private/